
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<meta http-equiv="X-UA-Compatible" content="IE=8;FF=3;OtherUA=4"/>
<div style="position: absolute;
    left: 38%;
    font-size: 15px;
" class="head"><head>
Welcome to Microurls.org URL Shortening Website
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="css" href="static/style.css"/>
<title>Welcome to Microurls.org URL Shortening Website</title>
</head></div>
<body>
<div id="form" style=" position: absolute;
    top: 25%;
    left: 35%;

    font-size: 25px;
">
<form method="POST" action="">
URL To Shrink<br/><input type="text" name="url" value="http://" style=" width: 100%;"/>
<input type="submit" value="Shrink!" name="submit"/>
</form>
</div>
<div style="position: absolute;
    top: 50%;
    left: 25%;
">
<center>
<p>  
<SCRIPT LANGUAGE="JavaScript1.1" data-rocketsrc="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=407869&bid=1163110" type="text/rocketscript"></SCRIPT>
<noscript><a href="http://www.bidvertiser.com">pay per click</a></noscript>
  </p></center>
</div>
</body>
</html>


